{% extends "layouts/base.html" %}
{% block content %}
<main id="login" class="h-100 pt-5">
    <section class="container d-flex flex-column justify-content-start h-100">
        <div class="row align-items-start">
            <table class="table" id="approve_transactions">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Failed Login Attempts</th>
                        <th>Last Login</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.username }}</td>
                        <td>{{ i.date_joined }}</td>
                        <td>{{ i.failed_login_attempts }}</td>
                        <td>{{ i.is_disabled }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('views.user_management') }}">
                                {{ form.csrf_token }}
                                {{ form.userid(value=i.userid) }}
                                {{ form.unlock }}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock %}
{% block javascripts %}
<script src="{{ url_for('static', filename='vendor/datatables/datatables.min.js') }}" nonce="{{ csp_nonce() }}"></script>
<script nonce="{{ csp_nonce() }}">
    $(document).ready(function () {
        $('#approve_transactions').DataTable();
    });
</script>
{% endblock content %}
