<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        {% if not current_user.is_authenticated %}
        <a class="navbar-brand w-50 me-auto" href="{{ url_for('views.home') }}">HXBank</a>
        {% elif current_user.is_authenticated and not current_user.is_admin %}
        <a class="navbar-brand w-50 me-auto" href="{{ url_for('views.dashboard') }}">HXBank</a>
        {% elif current_user.is_authenticated and current_user.is_admin %}
        <a class="navbar-brand w-50 me-auto" href="{{ url_for('views.admin_dashboard') }}">HXBank</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-3 pl-lg-0 w-100" id="navbar">
            <ul class="navbar-nav mt-2 mt-lg-0 w-100 justify-content-center">
                {% if not current_user.is_authenticated %}
                {% block nav_about %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.about') }}">About Us</a>
                </li>
                {% endblock %}
                {% elif current_user.is_authenticated and not current_user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.transaction_history') }}">Transaction History</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userTransferDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Transfer
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="userTransferDropdown">
                        <a class="dropdown-item" href="{{ url_for('views.transfer') }}">Transfer to another account</a>
                        <a class="dropdown-item" href="{{ url_for('views.add_transferee') }}">Add Transfer Recipient</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Set Transfer Limit</a>
                        <a class="dropdown-item" href="{{ url_for('views.view_transferee') }}">View Transfer Recipients</a>
                    </div>
                </li>
                {% elif current_user.is_authenticated and current_user.is_admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminViewApprovalsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Review Accounts
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="adminViewApprovalsDropdown">
                        <a class="dropdown-item" href="#">Review Account Applications</a>
                        <a class="dropdown-item" href="#">Review Pending Transactions</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto w-100 justify-content-end">
                {% if not current_user.is_authenticated %}
                {% block nav_login %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.login') }}">Login</a>
                </li>
                {% endblock %}
                {% block nav_register %}
                <li class="nav-item">
                    <a class="btn btn__primary" href="{{ url_for('views.register') }}">Open Account</a>
                </li>
                {% endblock %}
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="material-icons md-light">notifications</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="material-icons md-light">settings</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons md-light">account_circle</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="profileDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('views.logout') }}">Logout</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>