{% extends "layouts/base.html" %}
{% block title %} Error 500 {% endblock %}
{% block content %}
<section class="container d-flex flex-column justify-content-start h-100 h-100 pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-xl-6">
            <div class="form-container text-center align-self-center">
                <h1>Error 500</h1>
                <h2>Internal Server Error</h2>
                <p>Oops! Something went wrong. Please try again later.</p>
                <a href="{{ url_for('views.home') }}" class="btn btn-primary">Go to Home</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
