{% extends "layouts/base.html" %}
{% block title %} Add Transferee {% endblock %}
{% block content %}
    <section class="container d-flex flex-column justify-content-start h-100 h-100 pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-xl-6">
                <div class="form-container text-center align-self-center">
                    <h1 class="my-4 text-center">Add Transferee</h1>
                    {% if form.transferee_acc.errors %}
                        {% for error in form.transferee_acc.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% if add_error %}
                        <div class="alert alert-danger" role="alert">{{ add_error }}</div>
                    {% endif %}
                    {% if form.csrf_token.errors %}
                        <div class="alert alert-danger" role="alert">You have submitted an invalid CSRF token</div>
                    {% endif %}
                    <form method="POST" action="{{ url_for('views.add_transferee') }}" id="add-transferee">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.transferee_acc.label(class="mb-2") }}
                            {{ form.transferee_acc(size=20, class="form-control", placeholder="Enter Account No") }}
                        </div>
                        {{ form.recaptcha }}
                        {{ form.add_transferee_submit(class="form-btn my-4", id="recaptcha-submit") }}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
<script nonce="{{ csp_nonce() }}">
    function onSubmitCallback(token) {
        document.getElementById("add-transferee").submit();
    }
</script>
{% endblock %}