{% extends "layouts/base.html" %}
{% block title %} Setup OTP {% endblock %}
{% block content %}
<main id="login" class="h-100 pt-5">
    <section class="container d-flex flex-column justify-content-start h-100">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-xl-6">
                <div class="form-container text-center align-self-center">
                    <div class="form-title">
                        <h1 class="title">Scan QR Code in your authenticator app</h1>
                    </div>
                    <div class="form-group">
                        <img id="qrcode" src="{{ url_for('views.auth_qrcode') }}" alt="QR Code" nonce="{{ csp_nonce() }}"/>
                    </div>
                    <button onclick="location.href='/account_management/account-settings'" class="form-btn">I am done.
                        Take me back.
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}