{% extends "layouts/base.html" %}
{% block title %} Message Composer {% endblock %}
{% block content %}
    <section class="container d-flex flex-column justify-content-start h-100 h-100 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="form-container text-center align-self-center">
                    <form method="POST" action="{{ url_for('views.compose') }}" id="compose">
                        {{ form.csrf_token }}
                        <div class="form-title">
                            <h1 class="title">Support</h1>
                            {% if compose_error %}
                                <div class="alert alert-danger" role="alert">{{ compose_error }}</div>
                            {% endif %}
                            {% if form.recipient.errors %}
                                {% for error in form.recipient.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if form.message.errors %}
                                {% for error in form.message.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.recipient.label(class="mb-2") }}
                            {{ form.recipient(class="form-control mb-4", placeholder="Contact Support") }}
                        </div>
                        <div class="form-group">
                            {{ form.message.label(class="mb-2") }}
                            {{ form.message(class="form-control mb-4", placeholder="Enter Message Content") }}
                        </div>
                        <div class="form-group">
                            {{ form.recaptcha }}
                            {{ form.message_submit(class="form-btn", id="recaptcha-submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
<script nonce="{{ csp_nonce() }}">
    function onSubmitCallback(token) {
        document.getElementById("compose").submit();
    }
</script>
{% endblock %}