{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main id="login" class="h-100 pt-5">
        <section class="container d-flex flex-column justify-content-start h-100">
            <div class="row align-items-start">
                <div class="col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            Current Year Money In/Out
                            <button class="btn btn-light btn-sm float-end" id="refresh_chart"><span class="material-icons md-light align-middle">refresh</span></button>
                        </div>
                        <div class="card-body">
                            <canvas id="graph"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            Welcome Back, {{ current_user.firstname }} {{ current_user.lastname }}!
                            <button class="btn btn-light btn-sm float-end" id="refresh_balance"><span class="material-icons md-light align-middle">refresh</span></button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Account Number: {{ data.acc_number }}</h5>
                            <p class="card-text">Last Login: {{ current_user.last_login.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                            <h5 class="card-title" id="acc_balance">Total Balance: ${{ data.acc_balance }}</h5>
                            <h5 class="card-title" id="acc_balance">Total Available Balance: ${{ data.acc_balance - data.money_on_hold}}</h5>
                            <p class="card-text" id="acc_remain">Daily Transfer Remaining: ${{ data.acc_xfer_limit - data.acc_xfer_daily }}</p>
                            <p class="card-text" id="acc_limit">Daily Transfer Limit: ${{ data.acc_xfer_limit }}</p>
                            <div class="text-center align-self-center">
                                <a href="{{ url_for('views.topup_balance') }}" class="btn btn-success align-middle">
                                    <span class="material-icons md-light align-middle">add_circle_outline</span> Top Up
                                    <span class="material-icons md-light align-middle">navigate_next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justify-content-center pt-3 pb-5">
                    <div class="row align-items-start card">
                        <div class="card-header">
                        Recent Transactions
                        <button class="btn btn-light btn-sm float-end" id="refresh_transactions">
                            <span class="material-icons md-light align-middle">refresh</span>
                        </button>
                        <a href="{{ url_for('views.transaction_history') }}" class="btn btn-secondary btn-sm align-middle float-end"> View More
                            <span class="material-icons md-light align-middle">navigate_next</span>
                        </a>
                        </div>
                        <div class="card text-center align-self-center">
                            <table class="table table-hover table-striped" id="recentTransactionTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Recipient</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="table" id="recentTransactionTableBody">
                                {% if recent_trans %}
                                {% for trans in recent_trans %}
                                    <tr>
                                        <td>{{ trans.date_transferred }}</td>
                                        <td>{{ trans.transferee_acc }}</td>
                                        <td>{{ trans.description }}</td>
                                        <td>${{ trans.amt_transferred }}</td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="/static/assets/js/dashboard.js"></script>
{% endblock %}