{% extends "layouts/base.html" %}
{% block title %} Error 404 {% endblock %}
{% block content %}
<section class="container d-flex flex-column justify-content-start h-100 h-100 pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-xl-6">
            <div class="form-container text-center align-self-center">
                <h1>Error 404</h1>
                <h2>Page Not found!</h2>
                <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
                <btn class="btn btn-primary btn-lg" href="{{ url_for('home') }}">Go to Home</btn>
            </div>
        </div>
    </div>
</section>
{% endblock %}
