{% extends "layouts/base.html" %}
{% block title %} Login {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <main id="login" class="h-100">
        <section class="container d-flex flex-column justify-content-start h-100">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-xl-6">
                    <div class="brand text-center mt-5">
                        <a href="/">
                            HX Banking
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7 col-xl-6">
                    <div class="form-container text-center align-self-center">
                        <form method="POST" action="/login">
                            {{ form.csrf_token }}
                            <div class="form-title">
                                <h1 class="title">Sign In</h1>
                                {% if login_error %}
                                    <div class="alert alert-danger" role="alert">{{ login_error }}</li>
                                {% endif %}
                                <p>Enter your details below:</p>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-muted visually-hidden">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter your Username"
                                       name="username" aria-label="Username" autocomplete="username" name="username" required>
                            </div>
                            {% if form.username.errors %}
                                <ul class="errors">
                                    {% for error in form.username.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <label for="pwd" class="text-muted visually-hidden">Password</label>
                                <input type="password" class="form-control" placeholder="Enter Your Password" name="pwd"
                                       aria-label="Password" id="pwd" autocomplete="current-password" required>
                            </div>
                            <div class="form-group">
                                <button class="form-btn" type="submit">Sign In</button>
                                <small class="form-text text-muted sign-up-text">Don't have an account? <a
                                        href="/register" title="Register Page">Create a New
                                    Account.</a></small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}