{% extends "layouts/base.html" %}
{% block title %} Verify OTP {% endblock %}
{% block content %}
<main id="login" class="h-100 pt-5">
    <section class="container d-flex flex-column justify-content-start h-100">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-xl-6">
                <div class="form-container text-center align-self-center">
                    <form method="POST" action="{{ url_for('views.otp_input') }}" id="otp-input">
                        {{ form.csrf_token }}
                        <div class="form-title">
                            <h1 class="title">Enter OTP Code</h1>
                            </p>To verify your identity</p>
                            {% if login_error %}
                                <div class="alert alert-danger" role="alert">{{ login_error }}</div>
                            {% endif %}
                            {% if form.token.errors %}
                            {% for error in form.token.errors %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.token.label(class="form-label") }}
                            {{ form.token(class="form-control", size=20) }}
                        </div>
                        <div class="form-group">
                            {{ form.recaptcha }}
                            {{ form.submit(class="form-btn", id="recaptcha-submit") }}
                            <small class="form-text text-muted sign-up-text">Setup 2FA again? <a
                                        href="{{ url_for('views.reset_identify', type='otp') }}" title="OTP Setup">Click Here</a></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block javascripts %}
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<script>
    function onSubmitCallback(token) {
        document.getElementById("otp-input").submit();
    }
</script>
{% endblock %}