{% extends "layouts/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-4 text-center">Set Transfer Limit</h1>
                {% if form.transfer_limit.errors %}
                    {% for error in form.transfer_limit.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <form method="POST" action="{{ url_for('views.set_transfer_limit') }}">
                    {{ form.csrf_token }}
                    <p>
                        {{ form.transfer_limit.label(class="mb-2") }}
                        {{ form.transfer_limit(size=20, class="form-control", placeholder="Enter transfer limit") }}
                    </p>
                    {{ form.submit(class="form-btn") }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
