{% extends "layouts/base.html" %}
{% block title %} Topup {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-4 text-center">Top Up</h1>
                    {% if form.amount.errors %}
                            {% for error in form.amount.errors %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                    {% endif %}
                    <form method="POST" action="{{ url_for('views.topup_balance') }}">
                        {{ form.csrf_token }}
                        <p>
                            {{ form.amount.label(class="mb-2") }}
                            {{ form.amount(class="form-control", size=1, placeholder="Enter Amount") }}
                        </p>
                        {{ form.submit(class="form-btn my-4")}}
                    </form>
            </div>
        </div>
    </div>
{% endblock %}