{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-4 text-center">Transaction History </h1>
{% include 'includes/transaction_nav.html' %}
<div class="justify-content-center pt-3 pb-5">
                    <div class="col">
                        <div class="card text-center align-self-center">
                            <table class="table table-hover table-striped" id="recentTransactionTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="table" id="recentTransactionTableBody">
                                {% for i in data %}
                                <div>
                                        <p>Date: {{ i.date_transferred }}</p>
                                        <p>Amount Transferred: {{ i.amt_transferred }} </p>
                                        <p>Transferrer Acc: {{ i.transferrer_acc }} </p>
                                        <p>Transferee Acc: {{ i.transferee_acc }} </p>
                                </div>
                                {% endfor %}
                                <!-- transaction_details -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}