{% extends "layouts/base.html" %}
{% block title %}Transfer{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container">
    <div class="row">
        <h1 class="mb-4" style="text-align: center">Transfer</h1>
        {% if transfer_error %}
            <div class="alert alert-danger" role="alert">{{ transfer_error }}</div>
        {% endif %}
        <form method="POST" action="#">
            <p class="lead">Sending account</p>
            <div class="dropdown account-dropdown mb-3" id="senderDropdown">
                <button type="button" class="btn btn-light dropdown-toggle" id="senderDropdownButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select sending account
                </button>
                <div class="dropdown-menu" aria-labelledby="senderDropdownButton">
                    {% for account in accounts %}
                        <a class="dropdown-item" href="#" data-account-id="{{ account.id }}">{{ account.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group mb-3 d-none">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="account-number-from">Send from</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Send from"
                           aria-describedby="account-number-from"
                           placeholder="Account number" name="senderAccountNumber" minlength="12" maxlength="12">
                </div>
            </div>

            <p id="sending-account-invalid-warning" class="text-danger d-none mb-4">Please specify an account to
                transfer
                from</p>

            <p class="mb-4">Available Amount $XXXXXX</p>

            <p class="lead">Recipient account</p>

            <label for="amount" class="d-block lead">Amount to send</label>

            <div class="form-group mb-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" aria-label="Amount" placeholder="Amount" id="amount"
                           name="amount" min="0.01" step="0.01" autocomplete="transaction-amount" required>
                </div>
            </div>

            <div class="form-check" id="form-agree">
                <input class="form-check-input" type="checkbox" name="verified" aria-label="Checkbox" id="verified"
                       required/>
                <label class="form-check-label" for="verified">I have checked that the accounts and amount entered is
                    correct</label>
            </div>

            <button type="submit" class="btn btn__primary btn-lg mt-4 mb-3">Transfer</button>
        </form>
    </div>
    </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}