<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
     <!-- add icon link -->
    <link rel = "icon" href ="/static/images/HXBank_logo.png" type = "image/x-icon" nonce="{{ csp_nonce() }}">
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}" nonce="{{ csp_nonce() }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js') }}" nonce="{{ csp_nonce() }}"></script>
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}" nonce="{{ csp_nonce() }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" nonce="{{ csp_nonce() }}"/>
</head>
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}
<body class="">
{% include 'includes/navigation.html' %}
{% block content %}{% endblock %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
{% include 'includes/footer.html' %}
</body>
</html>
