<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
     <!-- add icon link -->
        <link rel = "icon" href ="/static/images/HXBank_logo.png"
        type = "image/x-icon">
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
</head>
<!-- Style CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

<body class="">
{% include 'includes/navigation.html' %}
{% block content %}{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
</body>
{% include 'includes/footer.html' %}
</html>
